.card-container {
    display: flex;
    flex-direction: column;
    height:15em;
    min-width: 10em;
}

h2 {
    color: white;
    margin: 1em 0 ;
}

a {
    color: white;
    text-decoration: none;
}

.address {
    margin: 0;
}

img {
    margin-top: 1em;
    width: 27em;
}

.mini-logo {
    display: none;
}

p {
    max-width: 30em;
    color: antiquewhite;
    margin: 0;
}

@media only screen and (max-width: 999px) {
    img {
        margin-top: 3em;
        width: 6.5em;
    }

    .logo {
        display: none;
    }


    .mini-logo {
        display: flex;
    }
}