.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 129, 92);
    height:15em;
    min-width: 15em;
}

h2 {
    margin: 1em 0 0 0 ;
}

.address {
    margin: 1em 0 0 0;
}

p {
    margin: 0;
}

@media only screen and (max-width: 700px) {
    .card-container {
        height: 10em;
    }
}