<div class="card-container">
    <a class="logo" routerLink="/"><img src="../../../assets/Logo transparency 1.png"></a>
    <a class="mini-logo" routerLink="/"><img src="../../../assets/logo transparency_min.png"></a>
    <div class="address">
        <p>
            Prime Minds Therapy provides therapy and counseling services to individuals dealing with a variety of issues.  Individual and group sessions are available as well as workshops, consulting, and supervision services.  
        </p><br>
        <!-- <div class="">
            <p>123 Main Street</p>
            <p>City, State 12345</p>
            <p>(123) 456-7890</p>
        </div> -->
    </div>
</div>