.card-container {
    display: flex;
    flex-direction: column;
    height:15em;
    min-width: 15em;
}

h2 {
    color: white;
    margin: 1em 0 0 0 ;
}

h3 {
    color: white;
    margin: 0;
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0 0 0;
}

p {
    color: antiquewhite;
    margin: 0 0 1em 0;
}

@media only screen and (max-width: 700px) {
    .card-container {
        height: 12em;
    }
}