.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35em;
    background-color: burlywood;
}

h1 {
    color: antiquewhite;
    text-shadow: .0975em .0175em .0125em  burlywood;
    font-size: xx-large;
}

button {
    border: .25em solid antiquewhite;
    border-radius: .25em;
    height: 3em;
    width: 10em;
    font-size: large;
    color: burlywood;
    background-color: antiquewhite;
    margin-top: .25em;
}

button:hover, button:focus {
    border-color: antiquewhite;
    background-color: rgba(250, 235, 215, 0.475);
    transition: .5s ease-in-out;
}

button:active {
    color: white;
    border-color: antiquewhite;
    background-color: antiquewhite;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: x-large;
    }
}