.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 20em;
    padding: 0 2em;
    background-color:#3D2C22;
    border-top: .0125em solid antiquewhite;
}

@media only screen and (max-width: 1000px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}