.header-container {
    background-color:antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 7em;
    padding: 0 1em;
    border-bottom: .0125em solid burlywood;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}