.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: white;
}

.about > * {
    margin: 2em;
}

.about-write-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-para {
    max-width: 30em;
}

img {
    max-height: 40em;
    max-width: 50em;
    border-radius: 5em;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30em;
    width: 100%;
    background-color: black;
}

.education-para, .education > h2 {
    max-width: 60em;
    color: white;
}

.cta-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30em;
    padding: 0 1em;
}

.cta-2 > h2 {
    color: burlywood;
}

button {
    border: .25em solid burlywood;
    border-radius: .25em;
    height: 3em;
    width: 10em;
    font-size: large;
    color: burlywood;
    background-color: antiquewhite;
}

button:hover {
    background-color: rgba(222, 184, 135, 0.475);
    color: white;
    transition: .5s ease-in-out;
}

button:active {
    background-color: white;
    color: burlywood;
}

@media only screen and (max-width: 1000px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .education-para {
        max-width: 30em;
    }

    img {
        max-height: 40em;
        max-width: 25em;
        border-radius: 5em;
    }
    
}