<div class="contact-container">
    <div class="about">
        <img src="../../../assets/about.jpg">
        <div class="about-write-up">
            <h2>About</h2>
            <p class="about-para about-para-1">
                I am a licensed clinical social worker with over five years of experience working with individuals and families from various stages of life. I completed my academic training in Grambling, Louisiana, at Grambling State University, where I earned a master’s degree in social work. I am trained to work with various clinical issues such as trauma, anxiety, depression, and other related issues. Additionally, I have extensive experience working with adults diagnosed with severe and persistent mental illness. I have experience providing crisis stabilization, community-based mental health, substance abuse, hospice, and assessment and diagnostic services. 
            </p>
            <p class="about-para about-para-2">
                Having had personal experiences in the foster care system, adoption, and other life traumas, I believe narratives can change and overcome life-altering circumstances. My passion has always been and continues to be working with individuals who have encountered challenging life situations and are attempting to become a better version of themselves and realize that “Every Mind has a Prime.”
            </p>
        </div>
    </div>
    <div class="cta-2">
        <h2>EVERY MIND HAS A PRIME</h2>
        <button routerLink="/contact">Contact Us</button>
    </div>
</div>