<div class="contact-container">
    <div class="about">
        <div class="about-write-up">
            <h2>About</h2>
            <p class="about-para about-para-1">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="about-para about-para-2">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="about-para about-para-4">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="about-para about-para-4">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
        </div>
        <img src="../../../assets/about.jpg">
    </div>
    <div class="education">
        <h2>Educational Background</h2>
        <p class="education-para education-para-1">
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
            Cras mattis consectetur purus sit amet fermentum. 
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
            Cras mattis consectetur purus sit amet fermentum.
        </p>
    </div>
    <div class="cta-2">
        <h2>FIND WHAT FITS YOU TODAY</h2>
        <button routerLink="/contact">Contact Us</button>
    </div>
</div>