<div class="home-container">
    <img src="../../../assets/landing-banner.jpg">
    <div class="cta-1">
        <img src="../../../assets/mental-health.jpg">
        <div class="cta">
            <h2>PUT YOUR TAGLINE HERE</h2>
            <p>
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <button routerLink="/contact">Contact Us</button>
        </div>
    </div>
    <div class="mission">
        <h2>OUR MISSION</h2>
        <p>
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
            Cras mattis consectetur purus sit amet fermentum. 
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
            Cras mattis consectetur purus sit amet fermentum.
        </p>
    </div>
    <div class="services">
        <div class="services-header">
            <img src="../../../assets/friends.jpg">
            <div class="write-up">
                <h2>OUR SERVICES</h2>
                <p>
                    Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                    Cras mattis consectetur purus sit amet fermentum. 
                    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                    Cras mattis consectetur purus sit amet fermentum.
                </p>
            </div>
        </div>
        <div class="cards">
            <div class="cd-row cd-row-1">
                <div class="image">
                    <img src="../../../assets/anxiety.jpg">
                    <div class="image-overlay image-overlay-blur">
                        <div class="image-title"><h2>THIS IS A SERVICE</h2></div>
                        <p class="image-description">
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                            Cras mattis consectetur purus sit amet fermentum. 
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                            Cras mattis consectetur purus sit amet fermentum.
                        </p>
                        <button routerLink="/contact">Contact Us</button>
                    </div>
                </div>
                <div class="image">
                    <img src="../../../assets/depression.jpg">
                    <div class="image-overlay image-overlay-blur">
                        <div class="image-title"><h2>THIS IS A SERVICE</h2></div>
                        <p class="image-description">
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                            Cras mattis consectetur purus sit amet fermentum. 
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                            Cras mattis consectetur purus sit amet fermentum.
                        </p>
                        <button routerLink="/contact">Contact Us</button>
                    </div>
                </div>
            </div>
            <div class="cd-row cd-row-2">
                <div class="image">
                    <img src="../../../assets/self-esteem.jpg">
                    <div class="image-overlay image-overlay-blur">
                        <div class="image-title"><h2>THIS IS A SERVICE</h2></div>
                        <p class="image-description">
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                            Cras mattis consectetur purus sit amet fermentum. 
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                            Cras mattis consectetur purus sit amet fermentum.
                        </p>
                        <button routerLink="/contact">Contact Us</button>
                    </div>
                </div>
                <div class="image">
                    <img src="../../../assets/trauma.jpg">
                    <div class="image-overlay image-overlay-blur">
                        <div class="image-title"><h2>THIS IS A SERVICE</h2></div>
                        <p class="image-description">
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                            Cras mattis consectetur purus sit amet fermentum. 
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                            Cras mattis consectetur purus sit amet fermentum.
                        </p>
                        <button routerLink="/contact">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-2">
        <h2>PUT YOUR TAGLINE HERE</h2>
        <button routerLink="/contact">Contact Us</button>
    </div>
</div>