<div class="home-container">
    <img src="../../../assets/landing-banner.jpg">
    <div class="cta-1">
        <img src="../../../assets/mental-health.jpg">
        <div class="cta">
            <h2>EVERY MIND HAS A PRIME</h2>
            <p>
                Prime Minds Therapy provides therapy and counseling services to individuals dealing with a variety of issues.  
            </p>
            <a class="helper" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank"><button>CONNECT</button></a>
        </div>
    </div>
    <div class="mission">
        <h2>JOIN OUR MISSION</h2>
        <p>
            Are you stressed out and anxious? Struggling to get out of a dark place? Tired of feeling unmotivated to do the things you once loved? Feel like there is a never-ending cycle of highs and lows? Are you struggling with sleeping problems and poor concentration? Or perhaps you’ve tried different ways to relax and you still can’t get out of this funk? If you answered yes to any of these questions, here at Prime Minds Therapy we aim to improve your quality of life and sense of well-being. Mental health is just as important as your physical health.  We will make every effort to assist in you realizing that your mind has a prime.  
        </p>
    </div>
    <div class="services">
        <div class="services-header">
            <img src="../../../assets/friends.jpg">
            <div class="write-up">
                <h2>EXPLORE OUR SERVICES</h2>
                <p>
                    Individual and group sessions are available as well as workshops, consulting, and supervision services.  
                </p>
            </div>
        </div>
        <div class="cards">
            <div class="cd-row cd-row-1">
                <div class="image">
                    <img src="../../../assets/anxiety.jpg">
                    <div class="image-overlay image-overlay-blur">
                        <div class="image-title"><h2>THIS IS A SERVICE</h2></div>
                        <p class="image-description">
                            Solution Focused Brief (SFBT), Strength-Based, Trauma Focused, Individuals, Couples, Clinical Supervision, Coaching, and Mindfulness
                        </p>
                        <a class="service-card" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank"><button >CONNECT</button></a>
                    </div>
                </div>
                <div class="image">
                    <img src="../../../assets/depression.jpg">
                    <div class="image-overlay image-overlay-blur">
                        <div class="image-title"><h2>THIS IS A SERVICE</h2></div>
                        <p class="image-description">
                            CBT (Cognitive Behavior Therapy), DBT (Dialectical Behavior Therapy), Person-Centered, Psychodynamic, Anger Management
                        </p>
                        <a class="service-card" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank"><button >CONNECT</button></a>
                    </div>
                </div>
            </div>
            <div class="cd-row cd-row-2">
                <div class="image">
                    <img src="../../../assets/self-esteem.jpg">
                    <div class="image-overlay image-overlay-blur">
                        <div class="image-title"><h2>THIS IS A SERVICE</h2></div>
                        <p class="image-description">
                            Anxiety, Depression, Grief/Loss, Substance Abuse, Coping skills, Stress management, Self-esteem, peer relationships, trauma, career counseling, and codependency
                        </p>
                        <a class="service-card" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank"><button >CONNECT</button></a>
                    </div>
                </div>
                <div class="image">
                    <img src="../../../assets/trauma.jpg">
                    <div class="image-overlay image-overlay-blur">
                        <div class="image-title"><h2>THIS IS A SERVICE</h2></div>
                        <p class="image-description">
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                            Cras mattis consectetur purus sit amet fermentum. 
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                            Cras mattis consectetur purus sit amet fermentum.
                        </p>
                        <a class="service-card" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank"><button >CONNECT</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-2">
        <h2>EVERY MIND HAS A PRIME</h2>
        <a class="helper" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank"><button>CONNECT</button></a>
        
    </div>
</div>