.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    min-height: 50em;
    background-color: antiquewhite;
}

.home-container > img {
    max-height: 45em;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 30em;
    padding: 0 1em;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    min-height: 15em;
}

.services-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 30em;
}

.services-header > img, .cta-1 > img {
    max-height: 20em;
    border-radius: 5em;
}

.write-up {
    margin: 0 1em;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5em;
}

.image > image {
    display: block;
    width: 100%;
}

.image-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 184, 135, 0.9);
    border-radius: 5em;
    opacity: 0;
}

.image-overlay-blur {
    backdrop-filter: blur(2px);
}

.image-overlay:hover {
    opacity: 1;
    transition: .5s ease-in-out;
}

.image-overlay:hover > * {
    opacity: 1;
    transition: .5s ease-in-out;
    transform: translateY(0);
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform .5s;
}

.image-title > h2, .image-overlay > p {
    color: antiquewhite;
}

.image-overlay > p {
    max-width: 23em;
}

.image-overlay > button {
    border: .125em solid antiquewhite;
    border-radius: .25em;
    height: 3em;
    width: 10em;
    font-size: large;
    color: burlywood;
    background-color: antiquewhite;
    margin-top: .25em;
}

.image-overlay > button:hover {
    color: white;
    border-color: antiquewhite;
    background-color: rgba(250, 235, 215, 0.475);
    transition: .5s ease-in-out;
}

.image-overlay > button :active {
    color: white;
    border-color: antiquewhite;
    background-color: antiquewhite;
}

.cta-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 30em;
    padding: 0 1em;
}

.cta-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30em;
    padding: 0 1em;
}

.cta > h2, .cta > p, .cta-2 > h2 {
    color: burlywood;
}

.write-up > h2, .write-up > p {
    color: white;
}

.cd-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cd-row-1 > img, .cd-row-2 > img, .image > img {
    max-height: 40em;
    max-width: 50em;
    border-radius: 5em;
}

p {
    margin: 0 0 1em 0;
    max-width: 30em;
}

.mission > p {
    max-width: 45em;
}

button {
    border: .25em solid burlywood;
    border-radius: .25em;
    height: 3em;
    width: 10em;
    font-size: large;
    color: burlywood;
    background-color: antiquewhite;
}

button:hover {
    background-color: rgba(222, 184, 135, 0.475);
    color: white;
    transition: .5s ease-in-out;
}

button:active {
    background-color: white;
    color: burlywood;
}

@media only screen and (max-width: 1000px) {
    .cta-1 {
        display: flex;
        flex-direction: column;
    }

    .cta-1 > img {
        padding: 1em 0;
    }

    .cta, .write-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 0;
    }

    .image-overlay {
        height: 88.5%;
        margin: 3em 0;
    }

    .cd-row-1, .cd-row-2, .image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .cd-row-1 > img, .cd-row-2 > img, .image > img{
        margin: 3em 0;
        max-height: 45em;
        max-width: 45em;
    }

    .services-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding-top: 1em;
    }

    p, .mission > p {
        max-width: 35em;
    }
    
}