<div class="contact-container">
    <div class="write-up">
        <h2>CONTACT US</h2>
        <div class="">
            <p>
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
            </p><br>
        </div>
    </div>
    <div class="form">
        <form action="">
            <div>
                <label for="name-input"><h3>NAME</h3></label>
                <div class="name-input">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
            </div>
            <div>
                <label for="phone-input"><h3>PHONE</h3></label>
                <div class="phone-input">
                    <input type="text" placeholder="Enter Phone Number">
                </div>
            </div>
            <div>
                <label for="email-input"><h3>EMAIL</h3></label>
                <div class="email-input">
                    <input type="email" placeholder="Enter Email">
                </div>
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>