<div class="card-container">
    <h2>Media</h2>
    <div class="hours">
        <h3>Socials</h3>
        <div class="hm-foot-icon">
          <ul class="icons">
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
          <!--/ul-->
        </div>
        <h3>Subscribe</h3>
        <form>
            <input type="email" placeholder="Enter Email"><br>
            <button>Sign Up</button>
        </form>
</div>