.card-container {
    display: flex;
    flex-direction: column;
    height:15em;
    min-width: 15em;
}

h2 {
    color: white;
    margin: 1em 0 0 0 ;
}

h3 {
    color: white;
    margin: 0;
}

.hours {
    margin: 1em 0 0 0;
}

p {
    color: antiquewhite;
    margin: 0 0 1em 0;
}

ul {
    margin: 0 0 1em 0;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    max-width: 9em;
}

a, li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 1.5em;
    width: 1.5em;
    border-radius: .25em;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: burlywood;
}

a:hover {
    background-color: rgba(222, 184, 135, 0.475);
    transition: .5s ease-in-out;
    border: .125em solid antiquewhite;
    border-radius: .25em;
}

a:active {
    background-color: burlywood;
    color: white;
}

input {
    color: burlywood;
    border: .25em solid antiquewhite;
    border-radius: .25em;
    background-color: white;
}

input:focus {
    color: white;
    background-color: rgba(250, 235, 215, 0.475);
}

input:-moz-ui-invalid {
    outline: solid .15em red;
}

button {
    border: .125em solid antiquewhite;
    border-radius: .25em;
    height: 2em;
    width: 5em;
    font-size: large;
    color: burlywood;
    background-color: antiquewhite;
    margin-top: .25em;
}

button:hover, button:focus {
    border-color: antiquewhite;
    background-color: rgba(250, 235, 215, 0.475);
    transition: .5s ease-in-out;
}

button:active {
    color: white;
    border-color: antiquewhite;
    background-color: antiquewhite;
}

@media only screen and (max-width: 700px) {
    .card-container {
        margin-bottom: 1em;
    }
}