<div class="nav-container">
    <div class="nav navbar-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="menu-icon" [class.menuIcon]="menuIcon" (click)="updateMenuIcon()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="links">
            <li><a class="link link-about" routerLink="/">Home</a></li>
            <li><a class="link link-about" routerLink="/about">About</a></li>
            <li><a class="link link-services" routerLink="/services">Services</a></li>
            <!-- <li><a class="link link-faq" routerLink="/faq">FAQ</a></li> -->
            <li><a class="link link-contact" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank">Let's Connect</a></li>
            <li><a class="link link-contact" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032054" target="_blank">Book A Session</a></li>
            <!-- <li><a class="link link-blog" routerLink="/blog">Blog</a></li> -->
        </ul>
    </div>
    <ul class="mobile-links" [class.mobileLinks]="mobileLinks" (click)="updateMenuIcon()">
        <li><a class="link link-about" routerLink="/">Home</a></li>
        <li><a class="link link-about" routerLink="/about">About</a></li>
        <li><a class="link link-services" routerLink="/services">Services</a></li>
        <!-- <li><a class="link link-faq" routerLink="/faq">FAQ</a></li> -->
        <li><a class="link link-contact" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank">Let's Connect</a></li>
        
        <li><a class="link link-contact" href="https://daniel151115.zohobookings.com/#/customer/4495556000000032054" target="_blank">Book A Session</a></li>
        <!-- <li><a class="link link-blog" routerLink="/blog">Blog</a></li> -->
    </ul>
</div>