<div class="nav-container">
    <div class="nav navbar-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="menu-icon" [class.menuIcon]="menuIcon" (click)="updateMenuIcon()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="links">
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a routerLink="/blog">Blog</a></li>
        </ul>
    </div>
    <ul class="mobile-links" [class.mobileLinks]="mobileLinks">
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/blog">Blog</a></li>
    </ul>
</div>