.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-links {
    display: none;
}

ul {
    padding: 0;
    background-color: antiquewhite;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: .025em .75em;
}

a {
    text-decoration: none;
    color: burlywood;
    text-shadow: .0975em .075em .0125em  white;
    font-size: large;
}

a:hover {
    color: white;
    text-shadow: .0975em .075em .0125em  burlywood;
    transition: 0.4s ease-in-out;
}

a:active {
    color: antiquewhite;
}

@media only screen and (max-width: 999px) {
    .links {
        display: none;
    }

    .mobile-links {
        display: inline;
        position: fixed;
        right: -1100px;
        top: 112.5px;
        width: 100%;
        height: 100%;
        padding: 0 .275em;
    }

    li {
        display: block;
        margin: 3em 0 0 1em;
    }

    .mobile-links > li {
        margin-left: 2.5em;
    }

    .menu-icon span{
        width: 32px;
        height: 3px;
        background: burlywood;
        box-shadow: .125em .125em .0125em  white;
        display: block;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .menu-icon span:nth-child(2) {
        margin: 4px 0;
    }
    
    .menuIcon span:nth-child(2) {
        display: none;
    }
    
    .menuIcon span:nth-child(1) {
       transform: rotate(40deg);
       transition: 0.5s ease-in-out;
    }
    
    .menuIcon span:nth-child(3) {
       transform: rotate(-40deg);
       transition: 0.5s ease-in-out;
       margin-top: -3px;
    }

    .mobileLinks {
        right: 0;
        transition: 0.5s ease-in-out;
    }
}