<div class="services">
    <div class="service service-1">
        <img src="../../../assets/depression.jpg">
        <div class="write-up">
            <h2>SERVICES OFFERED</h2>
            <p class="para">
                My practice offers comprehensive services for individuals dealing with the following:
            </p>
            <ul>
                <li>Anxiety</li>
                <li>Depression</li>
                <li>Grief/Loss</li>
                <li>Substance Abuse</li>
                <li>Coping Skills</li>
                <li>Stress Management</li>
                <li>Self-esteem</li>
                <li>Peer Eelationships</li>
                <li>Trauma</li>
                <li>Career Counseling</li>
                <li>Codependency</li>
            </ul>
            <p class="para">
                Treatment Modalities and Interventions include: CBT (Cognitive Behavior Therapy), DBT (Dialectical Behavior Therapy), Person-Centered, Psychodynamic, Anger Management, Solution Focused Brief (SFBT), Strength-Based, Trauma Focused, Individuals, Couples, Clinical Supervision, Coaching, and Mindfulness
            </p>
            <!-- <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p> -->
        </div>
    </div>
    <!-- <div class="service service-2">
        <img src="../../../assets/self-esteem.jpg">
        <div class="write-up">
            <h2>THIS IS A SERVICE</h2>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
        </div>
    </div>
    <div class="service service-3">
        <img src="../../../assets/trauma.jpg">
        <div class="write-up">
            <h2>THIS IS A SERVICE</h2>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
        </div>
    </div>
    <div class="service service-4">
        <img src="../../../assets/anxiety.jpg">
        <div class="write-up">
            <h2>THIS IS A SERVICE</h2>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p class="para">
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  
                Cras mattis consectetur purus sit amet fermentum. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                Cras mattis consectetur purus sit amet fermentum.
            </p>
        </div>
    </div> -->
    <div class="cta">
        <h2>EVERY MIND HAS A PRIME</h2>
        <a href="https://daniel151115.zohobookings.com/#/customer/4495556000000032138" target="_blank"><button >CONNECT</button></a>
    </div>
</div>