/* You can add global styles to this file, and also import other style files */
body{
    font:14px/20px 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: xx-large;
}

input, button {
    font-weight: bold;
}

input:focus, button:focus {
    outline: solid .15em white;
}

button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    h2 {
        font-size: x-large;
    }
    
}