/* You can add global styles to this file, and also import other style files */
body{
    font:14px/20px 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

input:focus, button:focus {
    outline: solid .15em white;
}